.btn {
    background-color: var(--primary-blue);
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: var(--color-white);
}

ol, ul {
    list-style: none;
}

body {
    background-color: var(--color-white);
    color: var(--color-black-second);
}

a {
    text-decoration: none;
    color: var(--color-white)
}