.contact_us {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact_us__title {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-black);
}

.contact_us__text {
    font-size: 1.75rem;
    margin-top: 2rem;
}

.contact_us__wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.contact_us__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid var(--border-btn);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 20px 12px -10px rgba(34, 60, 80, 0.2);
}

.contact_us__form-btn {
    display: block;
    text-align: left;
}

.contact_us__form input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact_us__form textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    resize: vertical;
    min-height: 100px;
    margin-bottom: 1rem;
}

.contact_us__form-btn:hover {
    color: var(--primary-blue);
    background-color: var(--color-white);
    border: 1px solid var(--primary-blue);
}

.contact_us__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.contact_us__content-nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.contact_us__content-icons {
    display: flex;
    justify-content: start;
    background-color: var(--primary-blue);
    gap: 1rem;
}

.contact_us__icon {
    width: 2rem;
    height: 2rem;
}