.features {
    margin-top: 8rem;
    text-align: center;
    max-width: 55rem;;
}

.features__title {
    font-size: 2.5rem;
    color: var(--color-black);
    letter-spacing: 0.015rem;
}

.features__text {
    margin-top: 3rem;
    font-size: 1.5rem;
    color: var(--color-black-second);
}

.features__cards {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;  
}

.features__cards--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem;
    text-align: center;
    gap: 2rem;
}

.features__cards--title {
    color: var(--color-black);
    font-size: 1.25rem;
    font-weight: 700;
}

@media (max-width: 768px) {
    .features__cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    
    .features__title {
        font-size: 2rem;
    }
    
    .features__text {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .features__cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
    .features__title {
        font-size: 1.75rem;
    }
    
    .features__text {
        font-size: 1rem;
    }
}
