.footer {
    margin-top: 5rem;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 8rem 0;
}

.footer .container {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.footer__blocks {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__info-contact {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer__info-icons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

@media (max-width: 780px) {
    .footer .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        justify-items: center;
    }
}

/* @media (max-width: 689px) {
    .footer__info {
        width: 100%;
        max-width: 320px;
        align-items: center;
    }
}

@media (max-width: 689px) {
    .footer__info-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
    }
} */


@media (max-width: 520px) {
    .footer .container {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
        align-items: center;
    }
}