.header {
    background-image: url("../img/background_header.jpg");
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    align-items: center;
}

.header__nav--list {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.header__icons--list {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}