.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    z-index: 10;
}

.header__nav {
    display: none;
}

.header__nav--item {
    position: relative;
}

.header__nav--item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;	
    background: var(--color-white);
    border-radius: 5px;
    left: 0;
    bottom: -0.5rem;
    transform: scaleX(0);
    transition: transform .4s;
}

.header__nav--item:hover::after {
    transform: scaleX(1);
}

.logo_link {
    display: inline-block;
}

.header__logo {
    width: 7rem;
}

.header__icons {
    display: none;
}

@media (min-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav {
        display: block;
    }

    .header__nav--list {
        display: flex;
        gap: 2rem;
    }

    .header__nav--item a {
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-white);
    }

    .header__icons {
        display: block;
    }

    .header__icons--list {
        display: flex;
        gap: 1.5rem;
    }

    .header__icons--icon img {
        width: 1.5rem;
        height: 1.5rem;
    }
}
