.organize {
    margin-top: 9rem;
    display: flex;
    justify-content: space-between;
}

.organize__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.organize__content--title {
    font-size: 3rem;
    color: var(--color-black);
    font-weight: 400;
}

.organize__content--btn {
    width: fit-content;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .organize {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }
    
    .organize__content--btn {
        margin: 2rem auto 0;
    }
    
    .organize__content--title {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .organize__content--title {
        font-size: 2rem;
    }
}