.testimonials {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.testimonials__title {
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-black)
}

.testimonials__text {
    font-size: 1.75rem;
    font-weight: 400;
}

.testimonials__biography {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.testimonials__info-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}