<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Figma Land</title>
  <link rel="shortcut icon" href="#" type="image/x-icon" />
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <style>
    body {
      background-color: aqua;
    }
  </style>
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <header class="header" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="components/header.html"></header>
  <main class="main">
    <section class="acquaintance" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="components/acquaintance.html"></section>
    <section class="features" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="components/features.html">
    </section>
    <section class="video" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="components/video.html">
    </section>
    <section class="organize" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="components/organize.html">
    </section>
    <section class="prototyping" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="components/prototyping.html"></section>
    <section class="partners" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="components/partners.html">
    </section>
    <section class="testimonials" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="components/testimonials.html"></section>
    <section class="pricing" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="components/pricing.html">
    </section>
    <section class="contact_us" data-hx-trigger="load" data-hx-swap="outerHTML"
      data-hx-get="components/contact_us.html"></section>
  </main>
</body>
<footer class="footer" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="components/footer.html">
</footer>

</html>