<section class="contact_us">
    <h2 class="contact_us__title">Contact Us</h2>
    <p class="contact_us__text">
        Most calendars are designed for teams. 
        Slate is designed for freelancers
    </p>
    <div class="contact_us__wrapper">
        <div class="contact_us__form">
            <p class="contact_us__form-title">Contact Us</p>
            <form action="#" class="contact_us__form-labels--wrapper">
                <label class="contact_us__form-label">
                    <input type="text" class="contact_us__form-input" placeholder="Your Name">
                </label>
                <label class="contact_us__form-label">
                    <input type="email" class="contact_us__form-input" placeholder="Your Email">
                </label>
                <label class="contact_us__form-label">
                    <textarea class = "contact_us__form-input" name="message" id="message" placeholder="Your Massage"></textarea>
                </label>
            </form>
        </div>
    </div>
</section>