<section class="contact_us container">
    <h2 class="contact_us__title">Contact Us</h2>
    <p class="contact_us__text">
        Most calendars are designed for teams.<br>
        Slate is designed for freelancers
    </p>
    <div class="contact_us__wrapper">
        <div class="contact_us__form">
            <p class="contact_us__form-title">Contact Us</p>
            <form action="#" class="contact_us__form-labels--wrapper">
                <label class="contact_us__form-label">
                    <input type="text" class="contact_us__form-input" placeholder="Your Name">
                </label>
                <label class="contact_us__form-label">
                    <input type="email" class="contact_us__form-input" placeholder="Your Email">
                </label>
                <label class="contact_us__form-label">
                    <textarea class="contact_us__form-input" name="message" id="message"
                        placeholder="Your Message"></textarea>
                </label>
                <button type="submit" class="contact_us__form-btn link-btn">Send Message</button>
            </form>
        </div>
        <div class="contact_us__content">
            <div class="contact_us__content-nav">
                <div class="contact_us__nav-item">
                    <img src="../img/pointer-icon.svg" alt="Point" class="contact_us__nav-icon">
                    <p class="contact_us__nav-text">
                        6386 Spring St undefined Anchorage,
                        Georgia 12473 United States
                    </p>
                </div>
                <div class="contact_us__nav-item">
                    <img src="../img/phone-icon.svg" alt="Phone" class="contact_us__nav-icon">
                    <p class="contact_us__nav-text">
                        (843) 555-0130
                    </p>
                </div>
                <div class="contact_us__nav-item">
                    <img src="../img/mail-icon.svg" alt="Email" class="contact_us__nav-icon">
                    <p class="contact_us__nav-text">
                        willie.jennings@example.com
                    </p>
                </div>
            </div>

            <img src="../img/contact_us-map.svg" alt="Map" class="contact_us__content-map">

            <div class="contact_us__content-icons">
                <img src="../img/twitter_icon.svg" alt="Twitter" class="contact_us__icon">
                <img src="../img/facebook_icon.svg" alt="Facebook" class="contact_us__icon">
                <img src="../img/linkedin_icon.svg" alt="LinkedIn" class="contact_us__icon">
            </div>
        </div>
    </div>
</section>