<section class="features">
  <h2 class="features__title">Features</h2>
  <p class="features__text">Most calendars are designed for teams. Slate is designed for freelancers</p>
  <div class="features__cards">
    <div class="features__cards--card">
      <img src="img/features_icon_1.svg" alt="Figures" class="features__cards--image">
      <p class="features__cards--title">OpenType features Variable fonts</p>
      <p class="features__cards--text">Slate helps you see how many more days you need to work to reach your financial
        goal.</p>
    </div>
    <div class="features__cards--card">
      <img src="img/features_icon_2.svg" alt="Pencil" class="features__cards--image">
      <p class="features__cards--title">Design with real data</p>
      <p class="features__cards--text">Slate helps you see how many more days you need to work to reach your financial
        goal.</p>
    </div>
    <div class="features__cards--card">
      <img src="img/features_icon_3.svg" alt="Brush" class="features__cards--image">
      <p class="features__cards--title">Fastest way to take action</p>
      <p class="features__cards--text">Slate helps you see how many more days you need to work to reach your financial
        goal.</p>
    </div>
  </div>
</section>