<footer class="footer">
    <div class="container">
        <div class="footer__blocks">
            <h3 class="footer__blocks-title">Pages</h3>
            <div class="footer__blocks-text">Home</div>
            <div class="footer__blocks-text">Product</div>
            <div class="footer__blocks-text">Pricing</div>
            <div class="footer__blocks-text">About</div>
            <div class="footer__blocks-text">Contact</div>
        </div>
        <div class="footer__blocks">
            <h3 class="footer__blocks-title">Tomothy </h3>
            <div class="footer__blocks-text">Eleanor Edwards</div>
            <div class="footer__blocks-text">Ted Robertson</div>
            <div class="footer__blocks-text">Annette Russell</div>
            <div class="footer__blocks-text">Jennie Mckinney</div>
            <div class="footer__blocks-text">Gloria Richards</div>
        </div>
        <div class="footer__blocks">
            <h3 class="footer__blocks-title">Jane Black</h3>
            <div class="footer__blocks-text">Philip Jones</div>
            <div class="footer__blocks-text">Product</div>
            <div class="footer__blocks-text">Colleen Russell</div>
            <div class="footer__blocks-text">Marvin Hawkins</div>
            <div class="footer__blocks-text">Bruce Simmmons</div>
        </div>

        <div class="footer__info">
            <div class="footer__info-contact">
                <img src="../img/pointer-icon.svg" alt="Point" class="fotter__info-icon">
                <p class="footer__info-text">
                    7480 Mockingbird Hill undefined
                </p>
            </div>
            <div class="footer__info-contact">
                <img src="../img/phone-icon.svg" alt="Phone" class="fotter__info-icon">
                <p class="footer__info-text">
                    (239) 555-0108
                </p>
            </div>

            <div class="footer__info-icons">
                <img src="../img/twitter_icon.svg" alt="Twitter" class="fotter__info-icons--icon">
                <img src="../img/facebook_icon.svg" alt="Facebook" class="fotter__info-icons--icon">
                <img src="../img/linkedin_icon.svg" alt="LinkedIn" class="fotter__info-icons--icon">
            </div>
        </div>
    </div>
</footer>