<nav class="header__nav">
    <ul class="header__nav--list">
        <li class="header__nav--item">
            <a href="#">Home</a>
        </li>
        <li class="header__nav--item">
            <a href="#">Product</a>
        </li>
        <li class="header__nav--item">
            <a href="#">Pricing</a>
        </li>
        <li class="header__nav--item">
            <a href="#">About</a>
        </li>
        <li class="header__nav--item">
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>
<img src="../img/logo.png" alt="Figma Land" class="header__logo">
<div class="header__icons">
    <ul class="header__icons--list">
        <li class="header__icons--icon">
            <a href="#"><img src="img/twitter_icon.svg" alt="Twitter"></a>
        </li>
        <li class="header__icons--icon">
            <a href="#"><img src="img/facebook_icon.svg" alt="Facebook"></a>
        </li>
        <li class="header__icons--icon">
            <a href="#"><img src="img/linkedin_icon.svg" alt="LinkedIn"></a>
        </li>
    </ul>
</div>
