<section class="partners container">
    <h2 class="partners__title">Partners</h2>
    <p class="partners__text">Most calendars are designed for teams.<br> Slate is designed for freelancers</p>
    <div class="partners__block">
        <div class="partners__block--upper">
            <div class="partners__card">
                <p class="partners__card--title">Client Name</p>
                <img src="img/partners_google.svg" alt="Google" class="partners__card--img">
            </div>
            <div class="partners__card">
                <p class="partners__card--title">Client Name</p>
                <img src="img/partners_amazon.svg" alt="Amazon" class="partners__card--img">
            </div>
            <div class="partners__card">
                <p class="partners__card--title">Client Name</p>
                <img src="img/partners_microsoft.svg" alt="Microsoft" class="partners__card--img">
            </div>
            <div class="partners__card">
                <p class="partners__card--title">Client Name</p>
                <img src="img/partners_uber.svg" alt="Uber" class="partners__card--img">
            </div>
        </div>
        <div class="partners__block--lower">
            <div class="partners__card">
                <p class="partners__card--title">Client Name</p>
                <img src="img/partners_dropbox.svg" alt="Dropbox" class="partners__card--img">
            </div>
            <div class="partners__card">
                <p class="partners__card--title">Client Name</p>
                <img src="img/partners_google.svg" alt="Google" class="partners__card--img">
            </div>
            <div class="partners__card">
                <p class="partners__card--title">Client Name</p>
                <img src="img/partners_uber.svg" alt="Uber" class="partners__card--img">
            </div>
            <div class="partners__card">
                <p class="partners__card--title">Client Name</p>
                <img src="img/partners_amazon.svg" alt="Amazon" class="partners__card--img">
            </div>
        </div>
    </div>
    <a href="#" class="partners__btn link-btn">Try For Free</a>
</section>