<section class="pricing">
    <div class="container">
        <h2 class="pricing__title">Pricing</h2>
        <p class="pricing__text">Most calendars are designed for teams.<br>
            Slate is designed for freelancers
        </p>
        <div class="pricing__card-wrapper">
            <div class="pricing__card pricing__card--side">
                <p class="card__title">FREE</p>
                <p class="card__text">Organize across all
                    apps by hand
                </p>
                <div class="card__price-wrapper">
                    <p class="card__price-wrapper--cost">0</p>
                    <div class="card__cost-info">
                        <p class="card__cost-info--value">$</p>
                        <p class="card__cost-info--period">Per Month</p>
                    </div>
                </div>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <a href="#" class="link-btn">Order Now</a>
            </div>
            <div class="pricing__card pricing__card--center">
                <p class="card__title">STANDARD</p>
                <p class="card__text">Organize across all
                    apps by hand
                </p>
                <div class="card__price-wrapper">
                    <p class="card__price-wrapper--cost">10</p>
                    <div class="card__cost-info">
                        <p class="card__cost-info--value">$</p>
                        <p class="card__cost-info--period">Per Month</p>
                    </div>
                </div>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <a href="#" class="pricing__card-btn link-btn">Order Now</a>
            </div>
            <div class="pricing__card pricing__card--side">
                <p class="card__title">BUSINESS</p>
                <p class="card__text">Organize across all
                    apps by hand
                </p>
                <div class="card__price-wrapper">
                    <p class="card__price-wrapper--cost">99</p>
                    <div class="card__cost-info">
                        <p class="card__cost-info--value">$</p>
                        <p class="card__cost-info--period">Per Month</p>
                    </div>
                </div>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <p class="card__pricing-features">Pricing Feature</p>
                <a href="#" class="link-btn">Order Now</a>
            </div>
        </div>
    </div>
</section>