<section class="prototyping">
    <div class="prototyping__image">
        <img src="img/prototyping_img.svg" alt="" class="prototyping__img">
    </div>
    <div class="prototyping__content">
        <p class="prototyping__subtopic">At your fingertips</p>
        <h2 class="prototyping__title">Lightning fast prototyping</h2>
        <p class="prototyping__subtitle">Subscribe to our Newsletter</p>
        <p class="pototyping__text">Available exclusivery on Figmaland</p>
        <div class="prototyping__form">
            <input type="email" placeholder="Your Email">
            <a href="#" class="prototyping__btn link-btn">Subscribe</a>
        </div>
    </div>
</section>