<section class="testimonials container">
    <h2 class="testimonials__title">Testimonials</h2>
    <img src="img/testimonials_img.svg" alt="IBM" class="testimonials__img">
    <p class="testimonials__text">Most calendars are designed for teams. Slate is designed for freelancers who want a
        simple way to plan their schedule.</p>
    <div class="testimonials__biography">
        <img src="img/testimonials_biography_img.png" alt="Photo" class="testimonials__biography--img">
        <div class="testimonials__info-block">
            <p class="testimonials__biography--title">Organize across</p>
            <p class="testimonials__biography--text">Ui designer</p>
        </div>
    </div>
    <a href="#" class="testimonials__btn link-btn">More Testimonials</a>
</section>